body {
    background-color: #1a1a1a;
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    background-color: #222;
    padding: 20px;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}

.sidebar:hover {
    background-color: #333;
}

.sidebar h2 {
    color: #ffc700; /* Ajustado para mantener la misma paleta */
    margin-bottom: 10px;
}

/* Main Content */
.main-content {
    margin-left: 250px; 
    padding: 20px;
    overflow-y: auto;
    height: 100vh; 
    background-color: #1c1c1c;
    transition: background-color 0.3s, margin-left 0.3s ease-in-out;
}

.main-content h1 {
    color: #ffc700;
    text-align: center;
}

.section {
    margin: 20px 0;
    padding: 15px;
    background-color: #333;
    border-radius: 12px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.section:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.section h2 {
    color: #ffc700;
}

/* Estilo de enlaces */
.file {
    color: white;
    text-decoration: none;
    display: block; 
    padding: 10px;
    border-radius: 8px; 
    margin: 5px 0;
    transition: background-color 0.3s, color 0.3s;
}

.file:hover {
    background-color: #ffc700; 
    color: #121212; /* Mejor contraste */
}

/* Estilo de la barra de búsqueda */
.search-bar {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 15px; 
    border: 2px solid #444; 
    border-radius: 8px; 
    background-color: #333; 
    color: #f5f5f5; 
    transition: background-color 0.3s, border-color 0.3s;
}

.search-bar::placeholder {
    color: #aaa; 
}

.search-bar:focus {
    outline: none; 
    background-color: #444; 
    border-color: #ffc700; 
}

/* Botones */
button, .donate-button {
    background-color: #ffc700;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 12px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px 0; 
    display: block; 
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto; 
}

button:hover, .donate-button:hover {
    background-color: #ffd700;
    transform: scale(1.05);
}

/* Barra de navegación */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    z-index: 1000;
}

nav a {
    color: #ffc700;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s, text-decoration 0.3s;
}

nav a:hover {
    text-decoration: underline;
    color: #fff;
}

/* Sección de donaciones */
.donate-section {
    background-color: #333; 
    border: 1px solid #444;
    border-radius: 12px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.donate-section h2 {
    color: #ffc700;
    margin-bottom: 10px;
}

.donate-section p {
    color: #f5f5f5; 
    margin-bottom: 20px;
}

.wallet-address {
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word; 
}

#copy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 12px; 
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; 
}

#copy-button:hover {
    background-color: #45a049;
}

.submit-button {
    background-color: #ffc700;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin: 10px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.submit-button:hover {
    background-color: #ffd700;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 199, 0, 0.5); /* Efecto de sombra al pasar el mouse */
}

/* Responsivo */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%); 
        width: 70%; 
        height: 100vh;
    }

    .sidebar.active {
        transform: translateX(0); 
    }

    .main-content {
        margin-left: 0;
    }

    #menu-toggle {
        display: block; 
        cursor: pointer;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 999;
    }
}

/* Estilo para el botón de menú */
#menu-toggle {
    background: #ffc700;
    color: #121212;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}