/* Estilos generales */
body {
    background-color: #121212; 
    color: #f0f0f0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden; 
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Título */
.title-container {
    margin-bottom: 40px;
}

h1 {
    font-size: 36px;
    color: #00ffcc;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #00ffcc;
    display: inline-block;
    padding-bottom: 10px;
}

/* Estilo para los enlaces */
.links-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    list-style: none;
    overflow: hidden; 
}

body {
    background-color: #121212; 
    transition: background 0.5s ease; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

body img {
    width: 100%; 
    height: auto;
}

/* Elementos de cada enlace */
.link-item {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Cuando el enlace entra en la vista, se hace visible */
.link-item.visible {
    opacity: 1;
    transform: translateY(0); 
}

/* Efecto al pasar el ratón sobre los enlaces */
.link-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 255, 204, 0.4);
}

/* Imagen de los enlaces */
.link-item img {
    max-width: 60px;
    margin-bottom: 10px;
    transition: opacity 0.3s ease-in-out;
}

/* Texto de los enlaces */
.link-item p {
    font-size: 14px;
    color: #ccc;
    margin: 0;
    text-align: center;
    font-weight: 500;
}

/* Efecto al pasar el ratón sobre los enlaces */
.link-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 255, 204, 0.4);
}

/* Efecto al pasar el ratón sobre las imágenes */
.link-item:hover img {
    opacity: 0.8;
}

/* Media queries para hacer el diseño más adaptable */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    .link-item {
        padding: 12px;
    }

    .link-item img {
        max-width: 50px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .link-item {
        padding: 10px;
    }

    .link-item img {
        max-width: 40px;
    }
}
